<main class='p-4'>
  <div class='row g-5'>
    <h1 class='text-center pt-5'>{{title}}</h1>
    <p>{{description}}</p>

    {{#with pages}}
      <div class='col-12 p-1'>
        <div class='row d-flex justify-content-around'>
          {{#each links}}
            <div class='col-3 mb-3'>
              <a
                href='{{href}}'
                class='btn btn-primary col-12'
              >{{text}}</a>
            </div>
          {{/each}}
        </div>

      </div>
    {{/with}}

  </div>
</main>