<div class='card col-12 p-1 '>
    <div class="row">
        <div class="col-6 display-6 fw-semibold">Logo</div>

        <div class='nav col-6 justify-content-end'>
            {{#each links}}
            <div class='nav-item'>
                <a href='{{href}}' class='nav-link {{#if @last }}disabled{{/if}}'>{{text}}</a>
            </div>
            {{/each}}
        </div>
    </div>
</div>