<div class='card'>
    <img class='card-img-top' src='{{image}}' alt='{{title}}' />
    <div class='card-body'>
        <h5 class='card-title'>{{title}}
            {{#if isHot}}
            <span class='badge text-bg-warning text-light rounded-pill fw-normal text-uppercase'>Hot!</span>
            {{/if}}
            {{#if idNew}}
            <span class='badge text-bg-primary text-light rounded-pill fw-normal'>New</span>
            {{/if}}
        </h5>
        <p>{{description}}</p>
    </div>
</div>